* {
    font-family: 'Roboto', 'sans-seri';
}

.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}

.table td {
    vertical-align: middle;
}

.list-group {
    .list-group-item {
        padding: 0.2rem 1rem;
        background: #eee;
        color: #6e787f;
        border-color: #fff;
        border-left: 5px solid #fff;
        font-weight: 600;
        cursor: pointer;

        &.active {
            color: #fff;
        }

        .item-id {
            float: left;
            width: 30%
        }
        .item-info {
            float: right;
            width: 70%;

            .item-text {
                font-weight: 400;
            }
        }
    }
}

/* ******* Scrollbar ******* */
@media (max-width:767px)
{
    .scrollbar {
        position: relative;
        overflow-y: scroll;
        max-height: 250px;
    }
}